/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 @import "bootstrap-sprockets";
 @import 'bootstrap';

 // nav {
 // 	opacity: 0.4;
 //    filter: alpha(opacity=40);
 // }

body, html {
	color: white;
	 height: 100%;
       
        margin: 0px;
        padding: 0px;


 background-color:#000000;
 filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#000000, endColorstr=#4a4a4a);
 background-image:-moz-linear-gradient(bottom, #000000 0%, #4a4a4a 100%);
 background-image:-webkit-linear-gradient(bottom, #000000 0%, #4a4a4a 100%);
 background-image:-ms-linear-gradient(bottom, #000000 0%, #4a4a4a 100%);
 background-image:linear-gradient(bottom, #000000 0%, #4a4a4a 100%);
 background-image:-o-linear-gradient(bottom, #000000 0%, #4a4a4a 100%);
 background-image:-webkit-gradient(linear, left bottom, left top, color-stop(0%,#000000), color-stop(100%,#4a4a4a));

}
