// Place all the styles related to the journals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(https://fonts.googleapis.com/css?family=Oxygen);
@import url(https://fonts.googleapis.com/css?family=Quicksand);

// $mainfont: 'Oxygen';
$mainfont: 'Quicksand';


.body-show-journal {
   font-family: $mainfont;
   background-color:#000000;
   filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#000000, endColorstr=#4a4a4a);
   background-image:-moz-linear-gradient(bottom, #000000 100%, #4a4a4a 0%);
   background-image:-webkit-linear-gradient(bottom, #000000 100%, #4a4a4a 0%);
   background-image:-ms-linear-gradient(bottom, #000000 100%, #4a4a4a 0%);
   background-image:linear-gradient(bottom, #000000 100%, #4a4a4a 0%);
   background-image:-o-linear-gradient(bottom, #000000 100%, #4a4a4a 0%);
   background-image:-webkit-gradient(linear, left bottom, left top, color-stop(100%,#000000), color-stop(0%,#4a4a4a));
}

.show-journal-comment {
   font-family: $mainfont;
   color: white;
   width: 350px;
   margin-top: 4%;
   margin-bottom: 70px;
   margin-left: 140px;
}

.body-show-title {
   font-family: $mainfont;
   text-align: center;

}

.index-header {
   font-family: $mainfont;
   color: #8b8a8b;
   text-align: left;
   margin-left: 50px;
}

.show-journal-button {
   font-family: $mainfont;
   text-align: center;
   padding: 10px;
}


.logs {

 background-color:#000000;
 filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#000000, endColorstr=#4a4a4a);
 background-image:-moz-linear-gradient(bottom, #000000 100%, #4a4a4a 0%);
 background-image:-webkit-linear-gradient(bottom, #000000 100%, #4a4a4a 0%);
 background-image:-ms-linear-gradient(bottom, #000000 100%, #4a4a4a 0%);
 background-image:linear-gradient(bottom, #000000 100%, #4a4a4a 0%);
 background-image:-o-linear-gradient(bottom, #000000 100%, #4a4a4a 0%);
 background-image:-webkit-gradient(linear, left bottom, left top, color-stop(100%,#000000), color-stop(0%,#4a4a4a));
}

.modal-header {
   font-family: $mainfont;
   background: black;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
}

.modal-title {
   font-family: $mainfont;
   color: white;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
}
.modal-body {
   background: black;
}

.row {
   color: white;
}

.btn-default {

}
#chart_div {
   margin-top: 20px;
   width: 50%;
   height: 300px;
   float: right;
   margin-right: 10%;
}

.pre-scrollable {
   max-height: 400px;
   border: 10px solid #8b8a8b;
   border-radius: 5px;
}

// #panel {
//    top: 8px;
//    padding: 5px;
//    float:right;
//    width: 150px;
//    height: 300px;
//    padding: 10px;
// }

// html, body, #map-canvas { 
//   height: 80%;
// }

#map-canvas {
   width: 80%;
   margin-left: 40px;
}

.beach {
   background-image: url(beach.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   height: 100%;
}

.form {
   font-family: $mainfont;
   max-width: 50%;
   text-align: center;
   margin-right: auto;
   margin-left: auto;
   margin-top: 5%;
   background-color: rgba(253,253,253, 0.5); 
   border-radius: 25px;
   padding: 10px;
}

.list-group {
   width: 150px;
}
